@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Titillium+Web:wght@200;400;600&display=swap');
*:focus {
    box-shadow: none;
    outline: none;
}
a{ text-decoration: none; color: #fff; font-family: 'Titillium Web', sans-serif;}
body{
    font-family: 'Titillium Web', sans-serif;
    background-color: #1d1d1d;
    margin:0;
   
}
.pagehandlr{
    margin: 5%;
}
.datausage{
    background-color: #26262e;
    border: 1px solid #47474e;
    border-radius: 5px;
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 2%;
    padding-bottom: 0;
}
.dashboardTitle{
    font-size: 18pt;
    margin-top: 2%;
    margin-left: 5%;
    color: #fff;
}
.wlcmTitle{
    font-size: 10pt;
    margin-top: 0.5%;
    margin-left: 5%;
    color: #fff;
}
.numberP{
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    text-align: left;
    margin-left: -40%;
}

.projectsTitle{
    color: #fff;
    font-size: 10pt;
    padding-left: 5%;
}
.line{
    width: 70%;
    border: none;
    border-top: 0.2px solid #fff;
    opacity: 0.1;
}



nav ul{
    list-style: none;
    overflow-x: hidden; 
    overflow-y: scroll;
 
    padding: 5%;
}   
.projectlist{
    width: 100%;
    height: auto;
    
    
}
nav li{
    text-align: center;
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    margin-top: 5%;
    padding-top: 5%;
    padding-bottom: 8%;
    padding-right: 2%;
    padding-left: 2%;
 
}
nav li.listofprojects{
    background-image: url("../img/project_file.png");
     background-repeat: no-repeat, repeat;
     background-size: 10%;
     background-position: 20px;
    font-size: 12pt;
    color: #fff;
    text-align: center;
    margin-top: 5%;
    border: 1px solid #47474e;
    border-radius: 10px;
    background-color: #26262e;
    box-shadow: 0px 0px 0.1px 0.1px #303c56;
    border: 0.5 solid #47474e;
}
nav li.listofprojects:hover{
    color: #fff;
    margin-top: 1%;
    border: 1px solid #47474e;
    border-radius: 10px;
    background-color: #34343b;
    box-shadow: 0px 0px 0.1px 0.1px #303c56;
    border: 0.5px solid #47474e;
}
nav li a{
    font-size: 13pt;
    text-align: left;
    margin-left: 20px;
    color: #fff;
}


.imgfile{
   background-image: url("../../img/project_file.png");
   background-repeat: no-repeat, repeat;
}
/* 
SCROLLBAR  */
nav ul::-webkit-scrollbar {
    width: 8px;               /* width of the entire scrollbar */
  }
  
  nav ul::-webkit-scrollbar-track {
    background: #26262e;        /* color of the tracking area */
  }
  
  nav ul::-webkit-scrollbar-thumb {
    background-color: #66666c;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 1px solid #26262e;  /* creates padding around scroll thumb */
  }


  /* VIEWER */

  .modelviewer{
    position: relative;
    margin-top: 2vh;
    width: 100%;
  }
  .viewmodule{
    margin-top: 5vh;
  }
